* {
  margin: 0;
}
.App {
  display: flex;
  background-color: var(--hrdc-text);
}
/* body {
  --hrdc-color: #0a0a0a;
  --hrdc-background: #2a2a31;
  --hrdc-text: white;
  --hrdc-imptext: wheat;
  --hrdc-content: #fefeff;
  --hrdc-paper: #0a0a0a;
} */
body {
  --hrdc-color: #1a237e;
  --hrdc-background: #534bae;
  --hrdc-text: white;
  --hrdc-imptext: wheat;
  --hrdc-content: #1a237e;
  --hrdc-paper: white;
}
.sidebar {
  background-color: var(--hrdc-background);
  color: var(--hrdc-text);
}
.content__holder {
  flex: 1;
  height: 100%;
}
